@import "variables";
@import "mixins";

.card {
  width: $card-width;
  padding: 15px 14px 14px;

  border: 1px solid $card-border-color;
  border-radius: 5px;

  &__img {
    width: 166px;
    height: 164px;
    padding: 12px 0;
    margin: 0 auto 30px;
    border: 3px solid transparent;
    border-radius: 5px 5px 0 0;

    @include time-action(
      $rule: transform,
      $time: 1s
    );

    &:hover {
      border-color: $card-border-color;
      transform: scale(1.2);
    }
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    margin-bottom: 5px;
  }

  &__code {
    margin-bottom: 15px;
  }

  &__reviews {
    @include flex-container(
      $justify-content: space-between,
      $align-items: flex-end
    );
    margin-bottom: 20px;
  }

  &__price-item {
    @include flex-container(
      $justify-content: space-between,
      $align-items: flex-end
    );
    margin-bottom: 20px;
  }

  &__price-text {
    align-self: flex-end;
  }

  &__price {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }

  &__btn {
    font-weight: 600;
    font-size: 14px;
    line-height: $btn-height;
    text-align: center;
    text-transform: uppercase;
    color: #fff;

    display: block;
    width: 100%;
    height: $btn-height;

    border: 1px solid transparent;
    background: $main-color;
    border-radius: 5px;

    @include time-action($rule: background);

    &:hover {
      background: #fff;
      color: $main-color;
      border: 1px solid;
    }
  }

  &__stars {
    @include flex-container;
  }
}
