@import "variables";
@import "mixins";
@import "reset.scss";
@import "page.scss";
@import "header.scss";
@import "nav";
@import "card.scss";
@import "stars.scss";

html {
  font-family: Roboto, sans-serif;
  line-height: 13px;
  font-size: 11px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.main {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, $card-width);
    justify-content: center;
    column-gap: 48px;
    row-gap: 51px;
    max-width: calc(4 * 200px + 3 * 48px);
    margin: 50px auto;
  }
}
